
<ion-view title="AddNewEvent">
  <ion-header-bar class="bar-dark" align-title="center">
    <button class="button button-icon ion-close-round"
            ng-click="goBack()"></button>
    <h2 class="title">Add Event</h2>
    <button class="button button-icon ion-checkmark-round"
            ng-click="confirm()"></button>
  </ion-header-bar>
  <ion-content>

    <ion-list>
      <ion-item class="item-divider"></ion-item>
      <ion-item class="item-text-wrap item-icon-left">
        <i class="icon ion-plus-round"></i>
        <input type="text" placeholder="title" ng-model="event.title" required>
      </ion-item>
      <ion-item class="item-divider"></ion-item>
      <ion-item>
        start
        <span class="item-note" ion-datetime-picker ng-model="event.fromWhichDay">
            {{event.fromWhichDay| date: "yyyy-MM-dd h:mm a"}}
        </span>
      </ion-item>
      <ion-item>
        end
        <span class="item-note" ion-datetime-picker ng-model="event.toWhichDay">
          {{event.toWhichDay| date: "yyyy-MM-dd h:mm a"}}
        </span>
      </ion-item>
      <ion-item class="item-text-wrap item-icon-left">
        <i class="icon ion-compose"></i>
        <input type="text" placeholder="description" ng-model="event.description" required>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>







