<ion-view title="Create a new account">
  <ion-header-bar class="bar-dark" align-title="center">
    <button class="button button-icon ion-ios-arrow-back"
            ng-click="goBack()"></button>
    <h2 class="title">Register</h2>
  </ion-header-bar>
  <ion-content class="has-subheader padding">
    <form name="myForm">
      <div class="card form-group">
        <ion-item class="item-input">
          <span class="input-label">Username</span>
          <input type="text" name="username" ng-model="data.username" placeholder="Username"
          required>

        </ion-item>
        <ion-item class="item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="data.email" placeholder="Email" required>
        </ion-item>
        <ion-item class="item-input">
          <span class="input-label" >Password</span>
          <input type="password" name="password" ng-model="data.password"  placeholder="Password"
          required>
        </ion-item>
        <div role="alert">
          <span class="error" ng-show="myForm.input.$error.required">Required!</span>
          <span class="error" ng-show="myForm.input.$error.email">Not valid email!</span>
        </div>
      </div>
      <button ng-disabled="myForm.$invalid" type="submit" class="button button-block button-positive"
      ng-click="SignUp()">Sign Up</button>
    </form>

  </ion-content>
</ion-view>
