<ion-view view-title="Summary">
  <ion-header-bar class="bar-dark" align-title="center">
    <!--<button class="button button-icon ion-minus-circled"-->
            <!--ng-click="data.ShowDeleted = !data.ShowDeleted; data.ShowReorder=false"></button>-->
    <h2 class="title">Summary</h2>

    <!--<button class="button button-icon ion-plus-round" ng-click="jumpToUrl()"></button>-->

  </ion-header-bar>
  <div class="bar bar-subheader item-input-inset bar-light">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model ="query" placeholder="Search">
    </label>
  </div>
  <ion-content class="has-subheader">
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <ion-item class="item-divider item-divider-calm">
      <h2>Last week</h2>
    </ion-item>
    <canvas id="pie" class="chart chart-pie"
            chart-data="data" chart-labels="labels" chart-options="options">
    </canvas>

    <div ng-repeat=" day in last7days|  orderBy: '-date'">
      <ion-item class="item-divider item-divider-calm dayhighlight" ng-if="day.schedule.length > 0">
        <h2>{{day.date}}</h2>
      </ion-item>
      <ion-list class="item-icon-right item-text-wrap" show-delete="data.ShowDeleted">
        <ion-item ng-class="{'star': item.star}"
                  ng-repeat="item in day.schedule|filter: query|orderBy: 'fromWhichDay'">
          <h2>{{item.time}}h</h2>
          <span class="item-note"><h2>{{item.fromWhichDay}}-{{item.toWhichDay}}</h2></span>
          <h3>{{item.sports}}</h3>
          <p>{{item.description}}</p>

          <button class="button button-clear icon ion-star button-assertive"
                  ng-click="toggleStar(item)" ng-show="item.star"></button>
          <ion-option-button class="button-dark" ng-click="toggleStar(item)">
            <i class="icon ion-star"></i></ion-option-button>
          <ion-option-button class="button-assertive" ng-click="onDelete(day,item)">
            <i class="icon ion-trash-a"></i>
          </ion-option-button>
          <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(day,item)"></ion-delete-button>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
  <ion-floating-menu bottom="60px">
    <ion-floating-item icon="ion-android-send" click="myEvent()" text="send to do list"></ion-floating-item>
    <ion-floating-item icon="ion-calendar" click="jumpToUrl()" text="add new event"></ion-floating-item>
  </ion-floating-menu>
</ion-view>
