
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Artists Tab -->
  <ion-tab title="Artists" icon="ion-ios-people"  href="#/tab/list">
    <ion-nav-view name="tab-list"></ion-nav-view>
  </ion-tab>
  <!--Calendar Tab-->
  <ion-tab title="Calendar" icon="ion-ios-calendar"  href="#/tab/calendar">
    <ion-nav-view name="tab-calendar"></ion-nav-view>
  </ion-tab>
  <!--Summary Tab-->
  <ion-tab title="Summary" icon="ion-ios-clock"  href="#/tab/summary">
    <ion-nav-view name="tab-summary"></ion-nav-view>
  </ion-tab>

</ion-tabs>
